html,body{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(167, 167, 167),rgb(131, 131, 131));
    background-repeat: no-repeat;
    height: 1000px;
}

canvas {
    border: 1px solid black;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}